{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    // [
    //   "prismjs",
    //   {
    //     "languages": [
    //       "markup",
    //       "css",
    //       "clike",
    //       "javascript",
    //       "apacheconf",
    //       "applescript",
    //       "asciidoc",
    //       "aspnet",
    //       "bash",
    //       "basic",
    //       "c",
    //       "csharp",
    //       "cpp",
    //       "css-extras",
    //       "dart",
    //       "diff",
    //       "docker",
    //       "ejs",
    //       "git",
    //       "glsl",
    //       "go",
    //       "graphql",
    //       "groovy",
    //       "haml",
    //       "haskell",
    //       "haxe",
    //       "hcl",
    //       "hlsl",
    //       "http",
    //       "hpkp",
    //       "hsts",
    //       "ignore",
    //       "java",
    //       "javadoc",
    //       "javadoclike",
    //       "javastacktrace",
    //       "jq",
    //       "jsdoc",
    //       "js-extras",
    //       "json",
    //       "json5",
    //       "jsstacktrace",
    //       "js-templates",
    //       "kotlin",
    //       "latex",
    //       "less",
    //       "livescript",
    //       "llvm",
    //       "lua",
    //       "makefile",
    //       "markdown",
    //       "markup-templating",
    //       "matlab",
    //       "mongodb",
    //       "nginx",
    //       "objectivec",
    //       "ocaml",
    //       "opencl",
    //       "php",
    //       "phpdoc",
    //       "php-extras",
    //       "plsql",
    //       "powershell",
    //       "properties",
    //       "python",
    //       "jsx",
    //       "tsx",
    //       "regex",
    //       "rip",
    //       "roboconf",
    //       "robotframework",
    //       "ruby",
    //       "rust",
    //       "sass",
    //       "scss",
    //       "scala",
    //       "scheme",
    //       "sql",
    //       "stylus",
    //       "swift",
    //       "typescript",
    //       "typoscript",
    //       "uri",
    //       "vbnet",
    //       "vim",
    //       "visual-basic",
    //       "wasm",
    //       "xml-doc",
    //       "yaml",
    //       "yang",
    //       "zig"
    //     ],
    //     "plugins": [
    //       "line-numbers",
    //       "wpd",
    //       "highlight-keywords",
    //       "inline-color",
    //       "match-braces",
    //       "diff-highlight",
    //       "treeview"
    //     ],
    //     "theme": "",
    //     "css": true
    //   }
    // ]
  ]
}
