@charset "utf-8";
@font-family: 'ui-system', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.monako__browser--mockup {
  position: relative;
  width: fit-content;
  min-width: 10em;
  max-width: 80vw;
  height: fit-content;
  margin: auto;
  padding-top: 2em;
  overflow: hidden;
  color: var(--browser-mockup-color);
  font-family: @font-family;
  background-color: var(--browser-mockup-bg);
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  transition: opacity 0.2s, border-radius 0.2s, background-color 0.2s, border-color 0.2s;
  animation: browser-mockup-zoom-in 0.3s ease-in;
  &::before {
    position: absolute;
    top: 0.75em;
    left: 1em;
    z-index: 1;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    text-align: center;
    background-color: #f44;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
    cursor: pointer;
    content: '';
  }
  &::after {
    position: absolute;
    top: 0.4em;
    left: 5.5em;
    display: block;
    width: calc(100% - 7rem);
    height: 1.2em;
    padding: 0 0.5rem;
    color: var(--browser-mockup-color);
    line-height: 1.2em;
    background-color: var(--browser-mockup-after-bg);
    border-radius: 2px;
    cursor: grab;
    transition: color 0.2s, background-color 0.2s;
    content: attr(data-title);
  }
  & > div:nth-child(2) {
    max-height: 85vh;
    padding: 0.5rem;
    overflow-y: auto;
  }
  &--drag {
    border-radius: 0.625rem;
    user-select: none;
    &::after {
      cursor: grabbing;
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &--out {
    opacity: 0;
    animation: browser-mockup-zoom-out 0.3s ease-out;
  }
  &--close {
    &::after {
      position: absolute;
      top: 0.45em;
      left: 1.25em;
      z-index: 1;
      color: white;
      font-size: smaller;
      font-family: @font-family;
      font-style: initial;
      opacity: 0.2;
      transition: opacity 0.2s;
      content: 'x';
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    & {
      // padding: 0 0.5rem 0.5rem;
      background-color: var(--browser-mockup-supports-bg);
      border-color: var(--browser-mockup-supports-border-color);
      backdrop-filter: blur(1rem);
    }
  }
}

@keyframes browser-mockup-zoom-in {
  from {
    transform: var(--transform-drag) scale(0);
    opacity: 0;
  }
  to {
    transform: var(--transform-drag) scale(1);
    opacity: 1;
  }
}

@keyframes browser-mockup-zoom-out {
  from {
    transform: var(--transform-drag) scale(1);
    opacity: 1;
  }
  to {
    transform: var(--transform-drag) scale(0);
    opacity: 0;
  }
}

.backdrop-filter(@color, @not-color) {
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    & {
      background-color: @color;
      backdrop-filter: blur(1rem);
    }
  }
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    & {
      background-color: @not-color;
    }
  }
}
