.neko__markdown-box {
  max-width: 1000px;
  margin: 0 auto 70px;
  overflow-wrap: break-word;
  & [data-prefix] {
    &::before {
      color: rgba(176, 139, 227, 0.5);
      content: attr(data-prefix);
    }
  }

  ol {
    margin: 0;
    padding: 0 0 0 24px;
  }
  > .neko__markdown-toc {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 9;
    max-width: 200px;
    height: fit-content;
    max-height: 75%;
    margin: auto;
    padding: 1rem 0.75rem;
    overflow-y: auto;
    background: var(--doc-bg);
    border-right: 0.625rem solid var(--doc-border-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 10px 1px var(--doc-shadow-color);
    transform: translateX(0) translateZ(0);
    transition: all 0.5s;

    li {
      color: var(--doc-color);
      list-style: none;
      a {
        font-weight: 600;
        line-height: 1.5rem;
        text-decoration: none;
      }
    }
    ol {
      padding: 0 0 0 28px;
      li {
        list-style: cjk-ideographic;
      }
      ol {
        padding: 0 0 0 14px;
        li {
          list-style: decimal;
        }
        ol {
          li {
            list-style: circle;
          }
        }
      }
    }
  }
  p > code,
  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code,
  h6 > code,
  li > code,
  mark {
    padding: 2px 4px;
    color: #e9887c;
    font-size: 90%;
    background-color: var(--mark-bg);
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  a {
    position: relative;
    color: var(--doc-color);
    text-decoration: none;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--doc-color-hover);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.25s ease-out, color 0.2s;
      content: '';
    }
    &:visited {
      color: var(--info-color);
    }
    &:hover {
      color: var(--doc-color-hover);
      &::after {
        transform: scaleX(1);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--heading-color);
    font-weight: 500;
  }
  p,
  dl {
    margin-bottom: 1em;
    padding: 0;
  }
  h1 {
    font-size: 1.6em;
    line-height: 54px;
  }
  h2 {
    font-size: 1.5em;
    line-height: 42px;
    counter-increment: section;
    &::before {
      content: counter(section) '. ';
    }
  }
  h1,
  h2 {
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--border-color);
  }
  h3 {
    font-size: 1.4em;
    line-height: 30px;
  }
  h4 {
    font-size: 1.3em;
    line-height: 28px;
  }
  h5 {
    font-size: 1.2em;
    list-style: none;
  }
  hr {
    height: 0.125rem;
    margin: 1rem 0;
    padding: 0;
    color: var(--color);
    text-align: left;
    background-color: var(--border-color);
    border: 0 none;
  }
  p,
  ul,
  ol {
    font-size: 0.875rem;
  }
  dl {
    padding: 0;
    dt {
      margin-top: 16px;
      padding: 10px 0;
      font-weight: bold;
      font-size: 1em;
      font-style: italic;
    }
    dd {
      margin-bottom: 16px;
      margin-left: 0;
      padding: 0 16px;
    }
  }

  :-moz-placeholder {
    color: #bfbfbf;
  }
  ::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  table {
    width: -webkit-fill-available;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--table-border-color);
    border-radius: 5px;
    border-spacing: 0;
    tbody {
      tr:hover {
        background-color: var(--table-tr-hover);
      }
    }
    tr {
      th {
        padding: 10px;
        color: #fff;
        background-color: var(--table-th-bg);
        transition: background-color 0.2s;
      }
      td {
        padding: 10px;
        border-color: var(--table-border-color);
        border-style: dotted;
        border-width: 0 0 1px 1px;
        transition: border-color 0.2s;
        &:first-child {
          border-left: 1px solid var(--table-border-color);
        }
        &:last-child {
          border-right: 1px solid var(--table-border-color);
        }
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  blockquote {
    position: relative;
    margin: 1.875rem 3.75rem;
    padding: 1rem;
    font-weight: 500;
    background-color: var(--blockquote-bg);
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    &::before,
    &::after {
      position: absolute;
      color: var(--blockquote-icon-color);
      font-size: 3rem;
      font-family: 'neko__icon', sans-serif;
      transition: color 0.2s;
    }
    &::before {
      top: -0.5rem;
      left: 0;
      transform: translateX(-3.3125rem);
      content: '\e68e';
    }
    &::after {
      right: 0;
      bottom: -0.5rem;
      transform: translateX(3.3125rem);
      content: '\e68d';
    }
    cite {
      color: #bfbfbf;
      font-size: 0.875rem;
      line-height: 1.25rem;
      &::before {
        content: '\2014 \00A0';
      }
    }
    p {
      margin: auto 0;
      color: var(--blockquote-color);
      font-size: 0.875rem;
      line-height: 1.5rem;
      transition: color 0.2s;
    }
  }
  p {
    line-height: 1.8;
    vertical-align: baseline;
    word-wrap: break-word;
    word-break: break-word;
    img {
      position: relative;
      display: block;
      max-width: 100%;
      margin: auto;
      border-radius: 8px;
      cursor: pointer;
      transition: box-shadow 0.3s;
    }
  }
  details {
    transition: padding 0.2s, background-color 0.2s;

    summary {
      outline: none;
      transform: translateX(-1rem);
      cursor: pointer;
      transition: transform 0.2s;
      user-select: none;
      & ~ * {
        color: #5e6d82;
      }
    }
    &[open] {
      padding: 0.625rem;
      background-color: #ecf8ff;
      border-radius: 0.5rem;
      summary {
        transform: translateX(0);
      }
    }
  }
}

@import url(./prism.less);

@media (max-width: 1450px) {
  .neko__markdown-box {
    margin: 0 auto;
    > .neko__markdown-toc {
      transform: translateX(calc(-100% + 10px)) translateZ(0);
      &:hover {
        transform: translateX(0) translateZ(0);
      }
    }
  }
}
@media (max-width: 1110px) {
  .neko__markdown-box {
    margin: 0 55px;
  }
}
@media (max-width: 880px) {
  .neko__markdown-box {
    margin: 0 55px;
  }
}
@media (max-width: 700px) {
  .neko__markdown-box {
    margin: 0 55px;
  }
}
@media (max-width: 580px) {
  .neko__markdown-box {
    margin: 0 20px;
  }
}
