:root {
  --bg: #fff;
  --color: #363425;
  --border-color: #d9d9d9;
  --success-color: #67c23a;
  --success-color-rgba: rgba(103, 194, 58, 0.6);
  --warning-color: #e6a23c;
  --warning-color-rgba: rgba(230, 162, 60, 0.6);
  --warning-color-focus: #ebb563;
  --primary-color: #409eff;
  --primary-color-rgba: rgba(64, 158, 255, 0.6);
  --primary-color-active: #096dd9;
  --primary-color-focus: #40a9ff;
  --danger-color: #ff4d4f;
  --danger-color-rgba: rgba(245, 108, 108, 0.6);
  --danger-color-active: #d9363e;
  --danger-color-focus: #ff7875;
  --info-color: #909399;
  --info-color-rgba: rgba(144, 147, 153, 0.6);
  /* light browser-mockup */
  /* markdown */
  --scrollbar-thumb-bg: #eee;
}

:root [ui-theme='night'] {
  --bg: #171717;
  --color: #f8f8f2;
  --border-color: #c5c5c2;
  /* dark browser-mockup */
  
  --scrollbar-thumb-bg: #4d4d4c;
}
